.top {
	display: flex;
	flex-direction: row;
}



.tool_bar {
	display: flex;
	flex-direction: row;
}

.task-list {
	display: flex;
	flex-direction: row;
}

.task-tool {
	margin-right: 0.5em;
}



.task {
	display: flex;
	flex-direction: row;
}

.task_detail {
	display: flex;
	flex-direction: column;
}